backend/venv/

__pycache__/

frontend/node_modules/
frontend/.next/

backend/.env
.env*

# MicroPython Secrets
firmware/**/secrets.py
firmware/secrets.py

backend/.env

backend/Vertex_credentials.json

*.onnx
backend/data/models/**/*.json
backend/data/models/**/*.pt
backend/data/models/**/*.tflite